<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="CustomPostUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomPostUpload.Properties.Settings>
            <setting name="postConfig" serializeAs="Xml">
                <value>
                    <PostConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <PostData>
                            <string>apikey=dXq9NDOcD8ESXiumFR8xQxjuUwAl8x3wsg5PoChcAhm0NhTemi</string>
                        </PostData>
                        <PostImageDataField>image</PostImageDataField>
                        <PostTargetUrl>https://screenshot.nightwire.de/handle.php</PostTargetUrl>
                        <ResultRegexPattern>#success (?&lt;link&gt;.*)</ResultRegexPattern>
                        <FailRegexPattern>#error (?&lt;error&gt;.*)</FailRegexPattern>
                        <UserAgent>Nightwire-Holzshots</UserAgent>
                        <MaxFileSize>9438232576</MaxFileSize>
                    </PostConfig>
                </value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>True</value>
            </setting>
        </CustomPostUpload.Properties.Settings>
        <HolzShots.My.MySettings>
            <setting name="EnableIngameMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="start_with_windows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableStatusToaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableWindowScreenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableFullscreenScreenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableAreaScreenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DockLocation" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="AutoCloseLinkViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCloseThumbViewer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StandardImageHoster" serializeAs="String">
                <value>Custom-Post</value>
            </setting>
            <setting name="enableLinkViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userTasksInitialized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableShotEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenshotPath" serializeAs="String">
                <value>Screenshots</value>
            </setting>
            <setting name="saveImagesToLocalDisk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveImagesPattern" serializeAs="String">
                <value>&lt;File:SequenceNumber&gt;</value>
            </setting>
            <setting name="FileSequenceNumber" serializeAs="String">
                <value>518</value>
            </setting>
            <setting name="TrayIconDoubleClickAction" serializeAs="String">
                <value>OpenSettings</value>
            </setting>
            <setting name="SelectionDecoration" serializeAs="String">
                <value>Nomination1</value>
            </setting>
            <setting name="EnableSmartFormatForUpload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSmartFormatForSaving" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isFirstRun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowHotkey" serializeAs="Xml">
                <value>
                    <KeyStroke xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <Key>F2</Key>
                        <Modkey>Control</Modkey>
                    </KeyStroke>
                </value>
            </setting>
            <setting name="fullHotkey" serializeAs="Xml">
                <value>
                    <KeyStroke xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <Key>F3</Key>
                        <Modkey>Control</Modkey>
                    </KeyStroke>
                </value>
            </setting>
            <setting name="selectorHotkey" serializeAs="Xml">
                <value>
                    <KeyStroke xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <Key>F4</Key>
                        <Modkey>Control</Modkey>
                    </KeyStroke>
                </value>
            </setting>
        </HolzShots.My.MySettings>
    </userSettings>
</configuration>
